@page
@model eButler.Pages.Admin.Users.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Admin/Shared/_AdminLayout.cshtml";
}
<div class="content-wrapper">
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">User Details</h4>
        <table class="table table-borderless report-table">
            <tbody>
                <tr>
                    <td class="text-muted">Email</td>

                                <td><h5 class="font-weight-bold mb-0">@Html.DisplayFor(model => model.User.Email)</h5></td>
                </tr>
                <tr>
                    <td class="text-muted">User Name</td>

                                <td><h5 class="font-weight-bold mb-0">@Html.DisplayFor(model => model.User.UserName)</h5></td>
                </tr>
                <tr>
                    <td class="text-muted">Password</td>

                                <td><h5 class="font-weight-bold mb-0">@Html.DisplayFor(model => model.User.Password)</h5></td>
                </tr>
                <tr>
                    <td class="text-muted">Is Active</td>

                                <td><h5 class="font-weight-bold mb-0">@Html.DisplayFor(model => model.User.IsActive)</h5></td>
                </tr>
                <tr>
                    <td class="text-muted">Is System Admin</td>

                                <td><h5 class="font-weight-bold mb-0">@Html.DisplayFor(model => model.User.IsSystemAdmin)</h5></td>
                </tr>
                <tr>
                    <td class="text-muted">Email</td>

                                <td><h5 class="font-weight-bold mb-0">@Html.DisplayFor(model => model.User.Email)</h5></td>
                </tr>
                <tr>
                    <td class="text-muted">Role</td>

                                <td><h5 class="font-weight-bold mb-0">@Html.DisplayFor(model => model.User.Role.Name)</h5></td>
                </tr>
            </tbody>
        </table>
                    <div>
                        <a class ="btn btn-primary btn-icon-text" asp-page="./Edit" asp-route-id="@Model.User.Id">Edit</a> |
                        <a asp-page="./Index">Back to List</a>
                    </div>
    </div>
</div>
</div>
</div>
</div>


