@page
@model eButler.Pages.Admin.Users.IndexModel

@{
    ViewData["Title"] = "User Management";
    Layout = "~/Pages/Admin/Shared/_AdminLayout.cshtml";
}
@if(Model.User != null){
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">User Management</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Email</th>
                                        <th>User Name</th>
                                        <th>Is Active</th>
                                        <th>Is System Admin</th>
                                        <th>Role</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.User)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Email)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UserName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.IsActive)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.IsSystemAdmin)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Role.Name)
                                            </td>
                                            <td class="template-demo" style="padding-top: 0; padding-bottom: 0">
                                                <a class="btn btn-primary btn-icon-text" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                                               
                                                <a class="btn btn-danger btn-icon-text" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
} else {
    <h2>List empty</h2>
}

