@page
@model eButler.Pages.Admin.ProductSupliers.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Admin/Shared/_AdminLayout.cshtml";

}


<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">ProductSupplier Details</h4>
                    <table class="table table-borderless report-table">
                        <tbody>
                            <tr>
                                <td class="text-muted">Name</td>

                                <td><h5 class="font-weight-bold mb-0">@Html.DisplayFor(model => model.ProductSupplier.Name)</h5></td>
                            </tr>
                            <tr>
                                <td class="text-muted">Quantity</td>

                                <td><h5 class="font-weight-bold mb-0">@Html.DisplayFor(model => model.ProductSupplier.Quantiy)</h5></td>
                            </tr>
                            <tr>
                                <td class="text-muted">Price</td>

                                <td><h5 class="font-weight-bold mb-0">@Html.DisplayFor(model => model.ProductSupplier.Price)</h5></td>
                            </tr>
                            <tr>
                                <td class="text-muted">Discount</td>

                                <td><h5 class="font-weight-bold mb-0">@Html.DisplayFor(model => model.ProductSupplier.Discount)</h5></td>
                            </tr>
                            <tr>
                                <td class="text-muted">Image</td>

                                <td><h5 class="font-weight-bold mb-0">@Html.DisplayFor(model => model.ProductSupplier.Image)</h5></td>
                            </tr>
                            <tr>
                                <td class="text-muted">Product</td>

                                <td><h5 class="font-weight-bold mb-0">@Html.DisplayFor(model => model.ProductSupplier.Product.Name)</h5></td>
                            </tr>
                            <tr>
                                <td class="text-muted">Supplier</td>

                                <td><h5 class="font-weight-bold mb-0">@Html.DisplayFor(model => model.ProductSupplier.Supplier.Name)</h5></td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <a class="btn btn-primary btn-icon-text" asp-page="./Edit" asp-route-id="@Model.ProductSupplier.Id">Edit</a> |
                        <a asp-page="./Index">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@*<h1>Details</h1>

<div>
    <h4>ProductSupplier</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductSupplier.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductSupplier.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductSupplier.Quantiy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductSupplier.Quantiy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductSupplier.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductSupplier.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductSupplier.Discount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductSupplier.Discount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductSupplier.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductSupplier.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductSupplier.Product)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductSupplier.Product.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductSupplier.Supplier)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductSupplier.Supplier.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ProductSupplier.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>*@
